.container{
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 600px;
  height: 300px;
}
.column{
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.column-left {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 1 66.667%;
  &__block {
    flex: 0 1 33.333%;
  }
  &__block-height{
    flex: 0 1 66.667%;
  }
}

.column-right{
  position: relative;
  flex-wrap: wrap;
  &__block{
    display: flex;
    flex: 1 1 50%;
    }
  &__block-width{
    flex: 1 1 100%;
  }
}
.block{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  border: 1px solid black;
  &__text{
    text-align: center;
    span{
      font-weight: bold;
      cursor: pointer;
    }
  }
}





